<div class="login-base">
    <div class="container login">
        <div class="logo"><img src="/assets/img/HVA_logo.png" /></div>
        <p>Log in om verder te gaan</p>
        <form>
            <div class="form-group">
                <label for="loginEmail">Email adres</label>
                <input [(ngModel)]="username" name="username" type="email" class="form-control" placeholder="gebruiker@hva.nl">
            </div>
            <div class="form-group">
                <label for="loginPassword">Wachtwoord</label>
                <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Wachtwoord">
            </div>
            <button (click)="login(username, password)" class="btn btn-primary btn-block">Login</button>
            <div><i class="ion-load-d ion-loading-d" *ngIf="loading === true"></i></div>
            <p *ngIf="authService.message">{{authService.message}}</p>
        </form>
    </div>
</div>