<nav class="sidebar">
    <a [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <div>
            <i class="forms-icon ion-android-home"></i>
        </div>
        <span>{{'homeNav' | translate}}</span>
    </a>
    <a class="sidebar-submenu {{activeStudyProgressClass}}" (click)="toggleStudyProgressSubMenu()">
        <div>
            <i class="ion-laptop"></i>
        </div>
        <span>{{'studyprogressNav' | translate}}</span>
        <div class="sidebar-submenu-icon">
            <i class="ion-chevron-down"></i>
        </div>
    </a>
    <ul *ngIf="StudyProgressSubMenu" class="sidebar-sublist">
        <li class="sidebar-sublist-item">
            <a [routerLink]="['/propphase']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <div>
                    <i class="forms-icon ion-laptop"></i>
                </div>
                <span>{{'propphaseNav' | translate}}</span>
            </a>
        </li>
        <li class="sidebar-sublist-item">
            <a [routerLink]="['/examschedule']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <div>
                    <i class="forms-icon ion-laptop"></i>
                </div>
                <span>{{'examscheduleNav' | translate}}</span>
            </a>
        </li>
        <li class="sidebar-sublist-item">
            <a [routerLink]="['/remedial']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <div>
                    <i class="forms-icon ion-laptop"></i>
                </div>
                <span>{{'remedialNav' | translate}}</span>
            </a>
        </li>
    </ul>
    <!--<a class="sidebar-submenu {{activeSettingsClass}}" (click)="toggleSettingsSubMenu()">
        <div>
            <i class="ion-gear-a"></i>
        </div>
        <span>{{'settingsNav' | translate}}</span>
        <div class="sidebar-submenu-icon">
            <i class="ion-chevron-down"></i>
        </div>
    </a>
    <ul *ngIf="settingsSubMenu" class="sidebar-sublist">
        <li class="sidebar-sublist-item">
            <a>
                <div>
                    <i class="forms-icon ion-ios-medical"></i>
                </div>
                <span>Coming Soon</span>
            </a>
        </li>
    </ul>-->
    <a [routerLink]="['/about']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <div>
            <i class="forms-icon ion-information-circled"></i>
        </div>
        <span>{{'infoNav' | translate}}</span>
    </a>
</nav>