:host {
    display: block;
    padding-left: 228px;
    padding-right: 16px;
    margin-top: 18px;
}

:host .period-container {
    display: block;
    float: left;
    width: 100%;
}

.table {
    color: #FFF;
}