@import '../../../../styles';

:host {
  display: block;
  text-align: center;

  .btn-success {
    background-color: #5cb85c !important;
  }

  table {
    thead {
      tr {
        th {
            text-align: center;
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;

        &:hover {
          background-color: #e1e1e1 !important;
        }
      }
    }
  }

  .flowCard {
    p {
      line-height: 20px;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    .card-body {
      position: relative;
      float: left;
      background: #FFF;
      width: 100%;
      padding: 10px;
    }
  }
}
