<div class="nav-title">
  <span>{{'Subjects' | translate}}</span>
</div>

<div class="trip-page-base">
  <div class="col-xl-8">
    <div class="card flowCard">
      <div class="card-header">
        <span>Vakken per groep</span>
        <button (click)="insertTeam()" class="btn btn-success float-right">vak toevoegen</button>
      </div>
      <div class="card-body">
        <p>Kies hieronder een groep. Per groep kunt u alle vakken vinden die beschikbaar zijn.
          U kunt deze vakken verwijderen of vakken aan de groep toevoegen.</p>
        <select class="form-control" (change)="getSubjects($event.target.value)">
          <option value="">Selecteer een groep</option>
          <option *ngFor="let group of apiService.groups" value="{{group.id}}">{{group.name}}</option>
        </select>

        <table *ngIf="apiService.subjects && apiService.subjects.length > 0" class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Vak</th>
            </tr>
          </thead>
          <tbody *ngIf="group1Active">
            <tr *ngFor="let subject of apiService.subjects; let i = index" (click)="openSubjectPart(subject.subject.id, subject.subject.subjectPart)">
              <td>{{i + 1}}</td>
              <td>{{subject.subject.name}}</td>
            </tr>
          </tbody>
        </table>
        <span *ngIf="apiService.subjects && apiService.subjects.length < 1">Geen vakken gevonden</span>
      </div>
    </div>
  </div>
</div>
