<div class="trip-sub-menu">
    <div class="btn-group-vertical btn-group-sm">
        <a [routerLink]="['propphase']" routerLinkActive="active">
            <span class="menuTitle">{{'results' | translate}}</span>
        </a>
        <a [routerLink]="['examschedule']" routerLinkActive="active">
            <span class="menuTitle">{{'Examschedule' | translate}}</span>
        </a>
        <a [routerLink]="['remedial']" routerLinkActive="active">
            <span class="menuTitle">{{'remedial' | translate}}</span>
        </a>
    </div>
</div>
<div class="trip-main">
    <router-outlet></router-outlet>
</div>