:host {
    display: block;
    padding-left: 228px;
    padding-right: 16px;
    margin-top: 18px;
}

:host .colorGreen {
    border-left: 2px solid #00f300;
    margin-right: 3px;
}

:host .colorRed {
    border-left: 2px solid red;
    margin-right: 3px;
}

:host .propcard {
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #ccc;
}

:host .propcard p {
    line-height: 20px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

:host .propcard .propcard-header {
    background-color: #868686;
    text-align: center;
    float: left;
    width: 100%;
    height: 50px;
}

:host .propcard .propcard-header h2 {
    color: #FFF;
    padding: 10px;
    font-size: 21px;
}

:host .propcard .propcard-body {
    position: relative;
    float: left;
    background: #FFF;
    width: 100%;
    padding: 10px;
}

:host .progress {
    position: relative;
}

:host .progress:after {
    position: absolute;
    width: 100%;
    left: 80%;
    right: 0;
    top: 0px;
    bottom: 0;
    content: "";
    font-size: 16px;
    border-left: 2px solid red;
}

:host .studypoints-container {
    display: block;
    width: 70%;
    word-wrap: break-word;
}

:host .legenda-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid;
    border-left: 1px solid;
    display: block;
}

:host .period-container {
    display: block;
    float: left;
    width: 100%;
}

.table {
    color: #FFF;
}