<div class="nav-title">
    <span>Examen planning</span>
</div>
<div class="examschedule-container trip-page-base">
    <div class="col-xl-12">
        <div class="card flowCard">
            <div class="card-header">
                <span>Schema</span>
            </div>
            <div class="card-body">
                <div class="period-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a (click)="activateSchemeBlok('schemeBlok1Active')" [class.active]="schemeBlok1Active" class="nav-link">Blok 1</a>
                        </li>
                        <li class="nav-item">
                            <a (click)="activateSchemeBlok('schemeBlok2Active')" [class.active]="schemeBlok2Active" class="nav-link">Blok 2</a>
                        </li>
                        <li class="nav-item">
                            <a (click)="activateSchemeBlok('schemeBlok3Active')" [class.active]="schemeBlok3Active" class="nav-link">Blok 3</a>
                        </li>
                        <li class="nav-item">
                            <a (click)="activateSchemeBlok('schemeBlok4Active')" [class.active]="schemeBlok4Active" class="nav-link">Blok 4</a>
                        </li>
                    </ul>
                </div>
                <div class="period-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-algin: center;">#</th>
                                <th style="text-align: center;">Vak</th>
                                <th style="text-align: center;">Datum</th>
                                <th style="text-align: center;">Studiepunten</th>
                                <th style="text-align: center;">Docent</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="schemeBlok1Active">
                            <tr *ngFor="let hasSubject of apiService.block1Subjects; let i = index">
                                <td>{{i}}</td>
                                <td>{{hasSubject.subject.name}}</td>
                                <td>{{hasSubject.examDate ? (hasSubject.examDate | date: 'dd-MM-yyyy') : hasSubject.examDate}}</td>
                                <td>{{hasSubject.subject.points}}</td>
                                <td>{{hasSubject.teacher.firstName}} {{hasSubject.teacher.lastName}}</td> 
                            </tr>
                        </tbody>
                         <tbody *ngIf="schemeBlok2Active">
                            <tr *ngFor="let hasSubject of apiService.block2Subjects; let i = index">
                                <td>{{i}}</td>
                                <td>{{hasSubject.subject.name}}</td>
                                <td>{{hasSubject.examDate ? (hasSubject.examDate | date: 'dd-MM-yyyy') : hasSubject.examDate}}</td>
                                <td>{{hasSubject.subject.points}}</td>
                                <td>{{hasSubject.teacher.firstName}} {{hasSubject.teacher.lastName}}</td> 
                            </tr>
                        </tbody>
                         <tbody *ngIf="schemeBlok3Active">
                            <tr *ngFor="let hasSubject of apiService.block3Subjects; let i = index">
                                <td>{{i}}</td>
                                <td>{{hasSubject.subject.name}}</td>
                                <td>{{hasSubject.examDate ? (hasSubject.examDate | date: 'dd-MM-yyyy') : hasSubject.examDate}}</td>
                                <td>{{hasSubject.subject.points}}</td>
                                <td>{{hasSubject.teacher.firstName}} {{hasSubject.teacher.lastName}}</td> 
                            </tr>
                        </tbody>
                         <tbody *ngIf="schemeBlok4Active">
                            <tr *ngFor="let hasSubject of apiService.block4Subjects; let i = index">
                                <td>{{i}}</td>
                                <td>{{hasSubject.subject.name}}</td>
                                <td>{{hasSubject.examDate ? (hasSubject.examDate | date: 'dd-MM-yyyy') : hasSubject.examDate}}</td>
                                <td>{{hasSubject.subject.points}}</td>
                                <td>{{hasSubject.teacher.firstName}} {{hasSubject.teacher.lastName}}</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>