:host {
  display: block;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%;

  .period-container {
    display: block;
    float: left;
    width: 100%;
  }

  .table {
    //color: #FFF;
  }

  .period-body {
    .table {
      tr {
        th {
          text-align: center;
        }
      }
    }
  }
}
