:host {
    background-color: #fff;
    position: fixed;
    z-index: 9100;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    height: 66px;
    width: 100%;
    min-width: 320px;
    padding: 0 32px 0 0;
    left: 0;
}

:host lang-switcher {
    position: absolute;
    right: 310px;
    top: 20px;
}

a {
    color: #8e8e93;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    margin-right: 20px;
    text-decoration: none;
    vertical-align: middle;
}

a.router-link-active {
    color: #106cc8;
}

a.al-logo {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    outline: none !important;
    line-height: 66px;
    background-color: #FFF;
    width: 13.25rem;
}

a.al-logo img {
    height: 66px;
    width: 12rem;
    margin: 0 auto;
    display: block;
}

a.al-logo span {
    color: #db1a5b;
}

a.collapse-menu-link:hover {
    text-decoration: none;
    color: #00abff;
}

div.employeeWindow {
    min-width: 240px;
    height: 50px;
    float: right;
    margin-right: 28px;
    margin-top: 10px;
}

div.employeeWindow .profileWindow {
    float: left;
}

div.employeeWindow .profileWindow .windowLeft {
    float: left;
    display: block;
    max-width: 200px;
}

div.employeeWindow .profileWindow .windowLeft span {
    width: 100%;
    float: left;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

div.employeeWindow .profileWindow .windowLeft .employeeName {
    font-weight: 500;
    font-size: 14px;
}

div.employeeWindow .profileWindow .profilePic {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 15px;
}

div.employeeWindow .ion-ios-bell {
    float: left;
    font-size: 32px;
    color: #cfd6e1;
    cursor: pointer;
}

a.collapse-menu-link {
    color: #8e8e93;
    cursor: pointer;
    display: block;
    font-size: 31px;
    margin-top: 0.375rem;
    margin-right: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 2rem;
    float: left;
    content: '20e';
    margin-left: 10px;
}