<a class="al-logo clearfix"><img src="/assets/img/HVA_logo.png" /></a>
<div class="employeeWindow">
    <div class="profileWindow">
        <div class="windowLeft">
            <span class="employeeName">Berfu Taluy</span>
            <span class="employeeRole">Student</span>
        </div>
        <img class="profilePic" src="https://www.drupal.org/files/profile_default.png" alt="Berfu Taluy">
    </div>
    <a class="collapse-menu-link ion-ios-arrow-down"></a>
</div>
<lang-switcher></lang-switcher>