<a class="al-logo clearfix"><img src="/assets/img/HVA_logo2.png" /></a>
<div class="employeeWindow">
    <a class="clearfix ion-ios-bell"></a>
    <div class="profileWindow">
        <div class="windowLeft">
            <span class="employeeName">Berfu Taluy</span>
            <span class="employeeRole">Student</span>
        </div>
        <img class="profilePic" [(src)]="profileImageSource" alt="Berfu Taluy">
    </div>
    <a (click)="toggleProfileMenu()" class="collapse-menu-link ion-ios-arrow-down"></a>
    <div *ngIf="menuActive" class="menu">
        <ul>
            <li>
                <a (click)="logout()"><span class="ion-log-out"></span>{{'logoutNav' | translate}}</a>
            </li>
        </ul>
    </div>
</div>
<lang-switcher></lang-switcher>