<div class="nav-title">
    <span>Propedeuse fase</span>
</div>

<div class="trip-page-base">
    <div class="col-xl-8">
        <div class="card flowCard">
            <div class="card-header">
                <span>Voortgangbalk</span>
            </div>
            <div class="card-body">
                <progress class="progress progress-striped progress-success" value="{{apiService.totalPointsEarned}}" max="{{apiService.totalPointsNeeded}}"></progress>
                <div class="studypoints-container">
                    <p>Studiepunten (eenh.): {{apiService.totalPointsNeeded}} vereist, {{apiService.totalPointsEarned}} behaald, {{apiService.totalPointsNeeded - apiService.totalPointsEarned}} nodig.</p>
                    <button (click)="generateProp(apiService.totalPointsNeeded, apiService.totalPointsEarned)" class="btn btn-primary" [disabled]="apiService.totalPointsEarned < apiService.totalPointsNeeded">Propedeuse verzoek genereren</button>
                </div>

                <div class="legenda-container">
                    <p><span class="colorGreen"></span> Voortgang</p>
                    <p><span class="colorRed"></span> Negatief BSA ontwijken</p>
                </div>
            </div>
        </div>

        <div class="period-container top10">
            <div class="period-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a (click)="activateBlok('blok1Active')" [class.active]="blok1Active" class="nav-link">Blok 1</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="activateBlok('blok2Active')" [class.active]="blok2Active" class="nav-link">Blok 2</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="activateBlok('blok3Active')" [class.active]="blok3Active" class="nav-link">Blok 3</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="activateBlok('blok4Active')" [class.active]="blok4Active" class="nav-link">Blok 4</a>
                    </li>
                </ul>
            </div>
            <div class="period-body">
                <table class="table table-striped table-inverse">
                    <thead>
                        <tr>
                            <th>Vaknr.</th>
                            <th>Naam</th>
                            <th>Datum</th>
                            <th>Status</th>
                            <th>AVG</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="blok1Active">
                        <tr *ngFor="let grade of apiService.gradeBlock1">
                            <td>{{grade.subjectPartId}}</td>
                            <td>{{grade.subjectPart.name}}</td>
                            <td>{{grade.date ? (grade.date | date: 'dd-MM-yyyy') : grade.date}}</td>
                            <td>{{grade.grade >= 5.5 ? 'Behaald' : 'Niet Behaald'}}</td>
                            <td>{{grade.grade}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="blok2Active">
                        <tr *ngFor="let grade of apiService.gradeBlock2">
                            <td>{{grade.subjectPartId}}</td>
                            <td>{{grade.subjectPart.name}}</td>
                            <td>{{grade.date ? (grade.date | date: 'dd-MM-yyyy') : grade.date}}</td>
                            <td>{{grade.grade >= 5.5 ? 'Behaald' : 'Niet Behaald'}}</td>
                            <td>{{grade.grade}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="blok3Active">
                        <tr *ngFor="let grade of apiService.gradeBlock3">
                            <td>{{grade.subjectPartId}}</td>
                            <td>{{grade.subjectPart.name}}</td>
                            <td>{{grade.date ? (grade.date | date: 'dd-MM-yyyy') : grade.date}}</td>
                            <td>{{grade.grade >= 5.5 ? 'Behaald' : 'Niet Behaald'}}</td>
                            <td>{{grade.grade}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="blok4Active">
                        <tr *ngFor="let grade of apiService.gradeBlock4">
                            <td>{{grade.subjectPartId}}</td>
                            <td>{{grade.subjectPart.name}}</td>
                            <td>{{grade.date ? (grade.date | date: 'dd-MM-yyyy') : grade.date}}</td>
                            <td>{{grade.grade >= 5.5 ? 'Behaald' : 'Niet Behaald'}}</td>
                            <td>{{grade.grade}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>